body{
    min-height: 100% !important;
    height: 100%;
    /* animation: fadein 0.5s; */
}

@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}

#containerBody{
    position: absolute;
    min-height: 100%;
    background: #ececec;
}

#tituloProjeto{
    color: #3e6bad;
    font-weight: 600;
    font-family: 'Roboto', Arial, sans-serif;
}

.mensagemInicial{
    font-weight: 500;
    color: #192b46;
    text-align: center;
    margin: 1rem auto 0.5rem auto;
}

.card{
    border-radius: 0.5rem;
}

.row{
    flex-direction: row;
}

#cardMenus{
    background: #fff;
    border-radius: 0.5rem;
    padding-bottom: 8rem !important;
}

.card-item-menu{
    text-decoration: none;
    color: #4a7fcf;
}

.card-item-menu:hover{
    text-decoration: none;
    background: #4a7fcf;
    color: #fff !important;
    transition: 0.8s;
    box-shadow: 2px 3px 8px 4px rgba(27,47,76,0.24);
}

.card-item-menu:hover .descricaoCard{
    color: #ececec;
    transition: 0.8s;
}

.divIconCard{
    position:relative;
    margin: auto;
}

.iconeCard{
    font-size: 2rem;
    text-align: center;
}

.tituloCard{
    font-size: 1.4rem;
    font-weight: bold;
}

.descricaoCard{
    font-size: 0.9rem;
    line-height: 1.1rem;
    color: #828ea0;
    text-align: center;
}

.text-center{
    text-align:center;
}

.font-weight-500{
    font-weight: 500;
}

.btn-voltar{
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: #4a7fcf;
    background: #fff;
    border: 1px solid #4a7fcf;
    border-radius: 100%;
}

.btn-voltar:hover{
    color: #fff;
    background: #4a7fcf;
}

.btn-voltar i{
    padding: 0.6rem;
}

.bg-light-blue{
    background: #d5e4fd;
    color: #383838;
}

.resultadoExemplo{
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgba(43, 55, 71, 0.24);
}

.cardExemplo{
    animation: fadein 1s;
}

.cardExemplo:hover{
    background: #eef5fa;
}